{% extends "base.html" %}

{% block content %}
<div class="layui-fluid">
    <div class="layui-row" align="center">
        <div align="center">
            <a href="https://github.com/NingAnMe/simple-cloud-disk/blob/master/README.md" class="layui-btn layui-btn-lg layui-btn-radius">
                使用文档
            </a>
            <a href="https://github.com/NingAnMe/simple-cloud-disk" class="layui-btn layui-btn-lg layui-btn-radius">
                GitHub
            </a>
        </div>
    </div>
</div>
{% endblock %}
